.main-nav {
  padding: 50px 0 20px;
  transition: all 0.5s ease-in-out;
  // position: fixed;
  // z-index: 99;
  // top: 0;
  width: 100%;

  @include desktop {
    text-align: center;
    padding: 20px 30px;
    width: 95%;
    margin: 20px auto;
    border-radius: 8px;
    background: $white;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
  }
  @include mobile {
    padding: 15px 20px;
  }

  .navbar-nav {
    margin-bottom: 1rem;
    .nav-item {
      .nav-link {
        color: $text-color-dark;
        padding: 10px 15px;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        transition: all 0.5s ease-in-out;
        @include desktop {
          font-size: 16px;
          padding: 15px 0;
        }
      }
    }
  }

  .navbar-brand {
    img {
      width: 115px;
    }
  }

  .navbar-toggler {
    outline: 0;
    padding: 0;

    .icon-bar {
      width: 25px;
      height: 2px;
      background: $primary-color;
      transition: all 0.2s;
      display: block;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }

      &:nth-child(2) {
        opacity: 0;
        filter: alpha(opacity=0);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }

    &.collapsed {
      .icon-bar {
        &:nth-child(1) {
          transform: rotate(0);
        }

        &:nth-child(2) {
          opacity: 1;
          filter: alpha(opacity=1);
        }

        &:nth-child(3) {
          transform: rotate(0);
        }
      }
    }
  }

  &-social {
    list-style: none;
    padding: 0 0 0 60px;

    @include desktop {
      padding: 0;
    }
    li {
      display: inline-block;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      a {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $border-color;
        border-radius: 50px;
        text-decoration: none;
        color: $text-color;
        font-size: 16px;
        &:hover {
          background-color: $black;
          color: $white;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
  }
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.headroom--unpinned {
  top: -150px !important;
}

.headroom--pinned {
  top: 0;
}
