{{ define "main" }}

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-me">
          <img class="actor mb-3" src="{{ .Site.Params.authorThumb | absURL}}" alt="image" height="100" >  
          <h3>{{ .Site.Data.about.welcomeTitle | markdownify}}</h3>
          <p>{{ .Site.Data.about.description | markdownify}} </p>
          <div class="banner">
            <div class="about-shape-right-top">
              <img src={{ "images/about/blob1.svg" | absURL }} alt="svg">
            </div>
            <div class="about-shape-left-bottom">
              <img src={{ "images/about/blob1.svg" | absURL }} alt="svg">
            </div>
            <img src="{{ .Site.Data.about.featureImage | absURL }}" alt="banner">
          </div>
          <h3>{{ .Site.Data.about.bioTitle }}</h3>
          <p> {{ .Site.Data.about.bioDescription | markdownify }}</p>
          <h3>{{ .Site.Data.about.licenseTitle | markdownify}}</h3>
          <p> {{ .Site.Data.about.license | markdownify}} </p>
          <h3>{{ .Site.Data.about.socialTitle | markdownify}}</h3>
          <p>{{ .Site.Data.about.social | markdownify}} </p>
          
          <ul class="soicel-icon">
            <li> <a href="https://www.instagram.com/{{ .Site.Params.instaUsername }}"target="_blank"><i class="iconfont icon-instagram"></i></a></li>
            <li> <a href="https://weibo.com/{{ .Site.Params.weiboUsername }}" target="_blank"><i class="iconfont icon-sina"></i></a></li>
            <li> <a href="/images/about/wechat.jpg" target="_blank"><i class="iconfont icon-weixin0"></i></a></li>
            <li> <a href="mailto:{{ .Site.Params.authorEmail }}"><i class="iconfont icon-youjian0"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}