<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <div class="footer-logo">
          <img src={{ .Site.Params.logo | absURL }} alt="logo" height="48"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="footer-nav">
          <ul class="navbar-nav">
            {{ range .Site.Menus.main }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="sociale-icon">
          <ul>
            <li>
              <a href="https://weibo.com/{{ .Site.Params.weiboUsername }}" target="_blank">
                <i class="iconfont icon-sina"></i>
              </a>
            </li>
            <li>
              <a href="https://www.douban.com/people/{{ .Site.Params.doubanUsername }}" target="_blank">
                <i class="iconfont icon-douban"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/{{ .Site.Params.instaUsername }}" target="_blank">
                <i class="iconfont icon-instagram"></i>
              </a>
            </li>
            <!-- <li>
              <a href="https://{{ .Site.Params.lofterUsername }}.lofter.com/" target="_blank">
                <i class="iconfont icon-lofter"></i>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="copy-right">
          <p>Copyright © 2022 Yuehe.Life, Some Rights Reserved</p>
          <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" style="color: rgb(255, 255, 255); font-weight: lighter">Licensed Under <img alt="Creative Commons License;border-width:4px"  style="padding-bottom: 4px" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a></p>
          <p><a href="https://beian.miit.gov.cn/" target="_blank" style="color: rgb(255, 255, 255); font-weight: lighter" >浙ICP备20009468号-2</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Google Map -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.googleMapAPI }}&libraries=geometry"></script> -->

<!-- amap -->
<!-- <script src="https://m.amap.com/navi/?dest=120.750266,30.771382&destName=%E6%9C%88%E6%B2%B3&hideRouteIcon=1&key=9bdb3b7b8cdddaab6f46104dab681ebc"></script> -->
<!-- <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=wuyM1uZXZGRCeucVha4PFvYcSjKaINuo"></script> -->


<!-- Vendor JS -->
{{ $vendor:= resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $formHandler:= resources.Get "js/form-handler.js" | minify }}
<script src="{{ $formHandler.Permalink }}"></script>
<!-- Main JS -->
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>